V1 cleaning
making bar chart race of data over time
UPDATE: not working due to misunderstanding of Tableau acceptable formats
SCROLL to V2 and V3 for working code

In [3]:
import pandas as pd

In [4]:
#import file
df_confirmed = pd.read_csv('cases_covid19_confirmed.csv')
df_confirmed

,Province/State,Country/Region,Lat,Long,22-Jan-20,1-Feb-20,1-Mar-20,1-Apr-20,1-May-20,1-Jun-20,...,1-Jul-22,1-Aug-22,1-Sep-22,1-Oct-22,1-Nov-22,1-Dec-22,1-Jan-23,1-Feb-23,1-Mar-23,9-Mar-23
0,NaN,Afghanistan,33.939110,67.709953,0,0,5,192,2171,15836,...,182594,185930,193520,199310,203167,206073,207616,208552,209340,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,259,782,1143,...,281470,312375,329615,332263,332969,333360,333811,334177,334408,334457
2,NaN,Algeria,28.033900,1.659600,0,0,1,847,4154,9513,...,266105,267546,270359,270676,270839,271096,271229,271385,271448,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,390,745,765,...,44177,45508,46027,46227,46535,47219,47751,47839,47875,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,8,30,86,...,101320,102301,102636,103131,103131,104676,105095,105184,105277,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,134,353,449,...,659853,682096,702332,702768,703036,703036,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,7,354,...,11824,11877,11926,11935,11939,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,36,109,1089,...,325857,329483,332822,333549,333681,333746,334629,340944,343012,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,8,40,203,...,255586,256382,256738,257465,257893,259164,259981,262324,264127,264276

In [8]:
df_confirmed1 = df_confirmed.groupby('Country/Region').sum().reset_index()
df_confirmed_cleaned = df_confirmed1.drop(columns=['Province/State', 'Lat', 'Long'])
df_confirmed_cleaned

,Country/Region,22-Jan-20,1-Feb-20,1-Mar-20,1-Apr-20,1-May-20,1-Jun-20,1-Jul-20,1-Aug-20,1-Sep-20,...,1-Jul-22,1-Aug-22,1-Sep-22,1-Oct-22,1-Nov-22,1-Dec-22,1-Jan-23,1-Feb-23,1-Mar-23,9-Mar-23
0,Afghanistan,0,0,5,192,2171,15836,31848,36796,38282,...,182594,185930,193520,199310,203167,206073,207616,208552,209340,209451
1,Albania,0,0,0,259,782,1143,2580,5396,9606,...,281470,312375,329615,332263,332969,333360,333811,334177,334408,334457
2,Algeria,0,0,1,847,4154,9513,14272,30950,44833,...,266105,267546,270359,270676,270839,271096,271229,271385,271448,271496
3,Andorra,0,0,0,390,745,765,855,925,1184,...,44177,45508,46027,46227,46535,47219,47751,47839,47875,47890
4,Angola,0,0,0,8,30,86,291,1164,2729,...,101320,102301,102636,103131,103131,104676,105095,105184,105277,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,0,0,0,134,353,449,2758,12160,23281,...,659853,682096,702332,702768,703036,703036,703228,703228,703228,703228
197,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
198,Yemen,0,0,0,0,7,354,1190,1730,1962,...,11824,11877,11926,11935,11939,11945,11945,11945,11945,11945
199,Zambia,0,0,0,36,109,1089,1632,6228,12381,...,325857,329483,332822,333549,333681,333746,334629,340944,343012,343135
200,Zimbabwe,0,0,0,8,40,203,605,3659,6559,...,255586,256382,256738,257465,257893,259164,259981,262324,264127,264276

In [65]:
#transposed
df_confirmed_transposed = df_confirmed_cleaned.transpose()
#re-clean
df_confirmed_transposed.columns = df_confirmed_transposed.iloc[0]
df_confirmed_transposed = df_confirmed_transposed[1:]
df_confirmed_transposed = df_confirmed_transposed.reset_index().rename(columns={'index':'Date'})

#issues with index. Will change in excel
df_confirmed_transposed

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,22-Jan-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1-Feb-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,6,0,0,0,0,0
2,1-Mar-20,5,0,1,0,0,0,0,0,1,...,0,0,0,0,16,0,0,0,0,0
3,1-Apr-20,192,259,847,390,8,0,7,1054,571,...,350,181,0,143,218,134,0,0,36,8
4,1-May-20,2171,782,4154,745,30,0,25,4532,2148,...,648,2086,0,335,270,353,0,7,109,40
5,1-Jun-20,15836,1143,9513,765,86,0,26,17415,9492,...,825,3702,0,1662,328,449,0,354,1089,203
6,1-Jul-20,31848,2580,14272,855,291,0,69,67197,26065,...,943,8781,0,6062,355,2758,0,1190,1632,605
7,1-Aug-20,36796,5396,30950,925,1164,0,91,196543,38841,...,1278,24783,0,19443,590,12160,0,1730,6228,3659
8,1-Sep-20,38282,9606,44833,1184,2729,0,94,428239,43878,...,1611,42127,0,47756,1044,23281,0,1962,12381,6559
9,1-Oct-20,39371,13806,51690,2050,5114,0,101,765002,50850,...,2061,57190,0,76029,1095,40322,0,2039,14802,7850
10,1-Nov-20,41425,21202,58272,4825,11035,0,128,1173533,92254,...,3149,67156,0,92325,1180,54060,0,2063,16480,8374
11,1-Dec-20,46498,39014,84152,6790,15251,0,142,1432570,135967,...,6024,73276,1,102621,1351,88004,0,2077,17665,10129
12,1-Jan-21,52513,58316,99897,8117,17568,0,159,1629594,159738,...,19753,77182,1,113884,1474,139223,0,2101,20997,14084
13,1-Feb-21,55059,78992,107578,9972,19829,0,234,1933853,167088,...,42128,78755,1,127346,1850,159443,0,2122,55042,33548
14,1-Mar-21,55733,107931,113255,10889,20854,0,769,2112023,172216,...,58589,79926,1,139545,2448,185336,0,2310,79002,36115
15,1-Apr-21,56517,125506,117304,12053,22399,0,1147,2363251,193736,...,108188,83050,3,161751,2617,244645,0,4531,88549,36896
16,1-May-21,59939,131185,122311,13232,26815,0,1232,2993865,216596,...,200908,91250,4,198865,2942,296462,0,6325,91670,38260
17,1-Jun-21,72977,132337,129218,13729,34752,0,1260,3817139,222778,...,298006,100495,4,235567,7625,308732,0,6751,95821,38998
18,1-Jul-21,120216,132523,140075,13918,38965,0,1264,4491551,225221,...,370600,111153,4,274024,17727,314288,0,6923,157832,51221
19,1-Aug-21,147501,133121,172564,14678,42815,0,1303,4935847,230339,...,381569,130216,4,306673,157507,316861,0,7070,196293,109546
20,1-Sep-21,153260,147369,196527,15046,47781,0,1719,5190948,242750,...,385078,157136,4,335233,473530,344957,0,7900,206522,124960
21,1-Oct-21,155191,170778,203517,15222,58076,0,3336,5258466,262631,...,389025,174408,4,368968,797712,405056,0,9111,209114,131028
22,1-Nov-21,156284,185497,206566,15516,64458,0,4062,5289945,309397,...,394053,186244,6,407866,926720,453782,0,9799,209739,133007
23,1-Dec-21,157359,200173,210723,17426,65183,0,4141,5332629,339020,...,399966,193424,6,432514,1252590,460799,0,10006,210195,135337
24,1-Jan-22,158107,210224,218818,23740,82398,11,4283,5674428,344980,...,414294,199030,7,444828,1746092,469748,0,10127,257948,214214
25,1-Feb-22,163555,258543,253520,35958,98226,11,6627,8427778,370922,...,679878,224023,7,485974,2286750,535160,272,11061,305557,229851
26,1-Mar-22,173879,271702,265010,38165,98746,11,7447,8904176,420156,...,844400,236501,18,515124,3557629,647203,524,11771,312970,236871
27,1-Apr-22,177782,273759,265679,40024,99194,11,7493,9039838,422540,...,888639,237787,3710,520497,9650663,655750,535,11806,316941,246414
28,1-May-22,178899,275167,265782,41349,99287,11,7626,9083673,422871,...,897867,238596,7507,522434,10653526,657060,535,11818,319733,247911
29,1-Jun-22,180419,276221,265887,42894,99761,11,8253,9230573,422963,...,925777,239046,9223,523710,10720426,657705,535,11822,321915,252874
30,1-Jul-22,182594,281470,266105,44177,101320,11,8656,9367172,423243,...,957629,240856,11273,526454,10747397,659853,535,11824,325857,255586
31,1-Aug-22,185930,312375,267546,45508,102301,11,8773,9560307,425365,...,971728,243131,11724,536086,10781009,682096,535,11877,329483,256382
32,1-Sep-22,193520,329615,270359,46027,102636,11,8974,9678225,434398,...,979160,243815,11825,542508,11414359,702332,535,11926,332822,256738
33,1-Oct-22,199310,332263,270676,46227,103131,11,9098,9708420,442875,...,985422,244218,11950,544860,11480028,702768,535,11935,333549,257465
34,1-Nov-22,203167,332969,270839,46535,103131,11,9106,9718875,445242,...,990560,244648,11981,545899,11503334,703036,535,11939,333681,257893
35,1-Dec-22,206073,333360,271096,47219,104676,11,9106,9727247,445737,...,993875,246674,11981,547631,11516489,703036,535,11945,333746,259164
36,1-Jan-23,207616,333811,271229,47751,105095,11,9106,9891139,445976,...,1011988,249217,12013,550613,11525284,703228,535,11945,334629,259981
37,1-Feb-23,208552,334177,271385,47839,105184,11,9106,10037135,446008,...,1032710,250586,12014,551587,11526508,703228,535,11945,340944,262324
38,1-Mar-23,209340,334408,271448,47875,105277,11,9106,10044125,446819,...,1034303,251071,12014,551986,11526926,703228,535,11945,343012,264127
39,9-Mar-23,209451,334457,271496,47890,105288,11,9106,10044957,447308,...,1034303,251247,12014,552162,11526994,703228,535,11945,343135,264276

In [32]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ------ ------------------------------ 41.0/250.0 kB 653.6 kB/s eta 0:00:01
     ----------------------------- -------- 194.6/250.0 kB 1.7 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.7 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [69]:
# saved to file
excel_file_path = 'df_confirmed_transposed.xlsx'
df_confirmed_transposed.to_excel(excel_file_path, index=False)

In [5]:
# same process as above but for new file
df_deaths = pd.read_csv('cases_covid19_deaths.csv')
df_deaths

,Province/State,Country/Region,Lat,Long,22-Jan-20,1-Feb-20,1-Mar-20,1-Apr-20,1-May-20,1-Jun-20,...,1-Jun-22,1-Jul-22,1-Aug-22,1-Sep-22,1-Oct-22,1-Nov-22,1-Dec-22,1-Jan-23,1-Feb-23,9-Mar-23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,4,64,269,...,7707,7723,7751,7778,7800,7823,7834,7849,7882,7896
1,NaN,Albania,41.153300,20.168300,0,0,0,15,31,33,...,3497,3501,3548,3583,3589,3593,3594,3595,3596,3598
2,NaN,Algeria,28.033900,1.659600,0,0,0,58,453,661,...,6875,6875,6876,6878,6879,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,14,43,51,...,153,153,153,154,155,155,157,165,165,165
4,NaN,Angola,-11.202700,17.873900,0,0,0,2,2,4,...,1900,1900,1912,1917,1917,1917,1924,1930,1931,1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,1,2,3,...,5660,5660,5678,5704,5707,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,2,84,...,2149,2149,2151,2155,2157,2158,2159,2159,2159,2159
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,3,7,...,3987,4006,4015,4016,4017,4017,4019,4024,4048,4057
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,1,4,4,...,5507,5555,5577,5596,5602,5606,5620,5637,5658,5671

In [9]:
df_deaths1 = df_deaths.groupby('Country/Region').sum().reset_index()
df_deaths_cleaned = df_deaths1.drop(columns=['Province/State', 'Lat', 'Long'])
df_deaths_cleaned

,Country/Region,22-Jan-20,1-Feb-20,1-Mar-20,1-Apr-20,1-May-20,1-Jun-20,1-Jul-20,1-Aug-20,1-Sep-20,...,1-Jun-22,1-Jul-22,1-Aug-22,1-Sep-22,1-Oct-22,1-Nov-22,1-Dec-22,1-Jan-23,1-Feb-23,9-Mar-23
0,Afghanistan,0,0,0,4,64,269,778,1287,1410,...,7707,7723,7751,7778,7800,7823,7834,7849,7882,7896
1,Albania,0,0,0,15,31,33,65,161,290,...,3497,3501,3548,3583,3589,3593,3594,3595,3596,3598
2,Algeria,0,0,0,58,453,661,920,1223,1518,...,6875,6875,6876,6878,6879,6881,6881,6881,6881,6881
3,Andorra,0,0,0,14,43,51,52,52,53,...,153,153,153,154,155,155,157,165,165,165
4,Angola,0,0,0,2,2,4,15,54,109,...,1900,1900,1912,1917,1917,1917,1924,1930,1931,1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,0,0,0,1,2,3,8,83,159,...,5660,5660,5678,5704,5707,5708,5708,5708,5708,5708
197,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,Yemen,0,0,0,0,2,84,318,494,570,...,2149,2149,2151,2155,2157,2158,2159,2159,2159,2159
199,Zambia,0,0,0,0,3,7,30,165,290,...,3987,4006,4015,4016,4017,4017,4019,4024,4048,4057
200,Zimbabwe,0,0,0,1,4,4,7,69,203,...,5507,5555,5577,5596,5602,5606,5620,5637,5658,5671

In [67]:
#transposed
df_deaths_transposed = df_deaths_cleaned.transpose()

#re-clean
df_deaths_transposed.columns = df_deaths_transposed.iloc[0]
df_deaths_transposed = df_deaths_transposed[1:]
df_deaths_transposed = df_deaths_transposed.reset_index().rename(columns={'index':'Date'})

#issues with index. Will change in excel
df_deaths_transposed

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,22-Jan-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1-Feb-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1-Apr-20,4,15,58,14,2,0,0,28,4,...,2,2,0,3,0,1,0,0,0,1
4,1-May-20,64,31,453,43,2,0,3,225,33,...,17,9,0,10,0,2,0,2,3,4
5,1-Jun-20,269,33,661,51,4,0,3,556,139,...,23,15,0,17,0,3,0,84,7,4
6,1-Jul-20,778,65,920,52,15,0,3,1351,453,...,28,26,0,54,0,8,0,318,30,7
7,1-Aug-20,1287,161,1223,52,54,0,3,3596,749,...,35,147,0,169,3,83,0,494,165,69
8,1-Sep-20,1410,290,1518,53,109,0,3,8919,881,...,44,323,0,391,34,159,0,570,290,203
9,1-Oct-20,1462,388,1741,53,185,0,3,20288,963,...,48,471,0,635,35,318,0,587,333,228
10,1-Nov-20,1536,518,1973,75,286,0,3,31140,1363,...,59,570,0,801,35,489,0,600,349,243
11,1-Dec-20,1774,822,2447,76,350,0,4,38928,2193,...,78,611,0,901,35,747,0,605,357,277
12,1-Jan-21,2201,1181,2762,84,405,0,5,43319,2828,...,193,614,0,1030,35,1418,0,610,390,369
13,1-Feb-21,2404,1393,2894,101,466,0,7,48249,3084,...,444,621,0,1196,35,1840,0,615,780,1234
14,1-Mar-21,2444,1816,2987,110,508,0,14,52077,3195,...,611,622,0,1348,35,2058,0,634,1098,1468
15,1-Apr-21,2489,2241,3096,115,538,0,28,55941,3533,...,1009,630,0,1615,35,2645,0,906,1212,1523
16,1-May-21,2631,2396,3261,125,600,0,32,64096,4128,...,2669,650,1,2155,35,3249,0,1229,1251,1568
17,1-Jun-21,2973,2451,3480,127,772,0,42,78733,4445,...,4342,690,1,2661,48,3503,0,1322,1282,1599
18,1-Jul-21,4962,2456,3726,127,903,0,42,94772,4517,...,5619,740,1,3136,81,3565,0,1361,2271,1808
19,1-Aug-21,6737,2457,4291,128,1016,0,43,105772,4619,...,5966,880,1,3607,1306,3604,0,1377,3406,3583
20,1-Sep-21,7123,2501,5302,130,1227,0,44,112005,4857,...,6034,1088,1,4026,11868,3688,0,1480,3605,4438
21,1-Oct-21,7206,2705,5815,130,1567,0,81,115225,5339,...,6056,1242,1,4469,19437,4120,0,1729,3649,4624
22,1-Nov-21,7281,2931,5924,130,1713,0,102,115989,6379,...,6080,1325,1,4902,22131,4681,0,1890,3661,4679
23,1-Dec-21,7309,3101,6076,131,1735,0,117,116597,7610,...,6131,1406,1,5161,25448,4803,0,1950,3667,4707
24,1-Jan-22,7356,3217,6284,140,1772,0,119,117181,7975,...,6172,1485,1,5331,32610,4919,0,1984,3740,5017
25,1-Feb-22,7417,3346,6593,145,1895,0,127,121513,8056,...,6513,1568,1,5447,37777,5104,0,2013,3920,5350
26,1-Mar-22,7609,3472,6840,151,1900,0,135,126257,8478,...,6991,1636,1,5636,40338,5513,0,2135,3953,5395
27,1-Apr-22,7670,3492,6874,153,1900,0,135,128052,8616,...,7161,1637,2,5683,42526,5655,0,2143,3966,5444
28,1-May-22,7683,3496,6875,153,1900,0,136,128653,8622,...,7203,1637,13,5709,43042,5657,0,2149,3976,5469
29,1-Jun-22,7707,3497,6875,153,1900,0,138,128889,8625,...,7238,1637,14,5722,43079,5660,0,2149,3987,5507
30,1-Jul-22,7723,3501,6875,153,1900,0,141,129070,8629,...,7331,1637,14,5734,43087,5660,0,2149,4006,5555
31,1-Aug-22,7751,3548,6876,153,1912,0,144,129369,8633,...,7415,1637,14,5763,43093,5678,0,2151,4015,5577
32,1-Sep-22,7778,3583,6878,154,1917,0,145,129711,8655,...,7445,1637,14,5796,43117,5704,0,2155,4016,5596
33,1-Oct-22,7800,3589,6879,155,1917,0,146,129897,8683,...,7485,1637,14,5816,43149,5707,0,2157,4017,5602
34,1-Nov-22,7823,3593,6881,155,1917,0,146,129991,8709,...,7518,1637,14,5820,43164,5708,0,2158,4017,5606
35,1-Dec-22,7834,3594,6881,157,1924,0,146,130025,8710,...,7537,1637,14,5828,43176,5708,0,2159,4019,5620
36,1-Jan-23,7849,3595,6881,165,1930,0,146,130124,8716,...,7562,1637,14,5832,43186,5708,0,2159,4024,5637
37,1-Feb-23,7882,3596,6881,165,1931,0,146,130421,8717,...,7609,1637,14,5845,43186,5708,0,2159,4048,5658
38,9-Mar-23,7896,3598,6881,165,1933,0,146,130472,8727,...,7617,1637,14,5854,43186,5708,0,2159,4057,5671

In [68]:
excel_file_path = 'df_deaths_transposed.xlsx'
df_deaths_transposed.to_excel(excel_file_path, index=False)

# V2 CLEANING

produces the monthly animations in tableau. Can be found under Midtermproject>Animations

In [10]:
#cleaned data from above
df_confirmed_cleaned

,Country/Region,22-Jan-20,1-Feb-20,1-Mar-20,1-Apr-20,1-May-20,1-Jun-20,1-Jul-20,1-Aug-20,1-Sep-20,...,1-Jul-22,1-Aug-22,1-Sep-22,1-Oct-22,1-Nov-22,1-Dec-22,1-Jan-23,1-Feb-23,1-Mar-23,9-Mar-23
0,Afghanistan,0,0,5,192,2171,15836,31848,36796,38282,...,182594,185930,193520,199310,203167,206073,207616,208552,209340,209451
1,Albania,0,0,0,259,782,1143,2580,5396,9606,...,281470,312375,329615,332263,332969,333360,333811,334177,334408,334457
2,Algeria,0,0,1,847,4154,9513,14272,30950,44833,...,266105,267546,270359,270676,270839,271096,271229,271385,271448,271496
3,Andorra,0,0,0,390,745,765,855,925,1184,...,44177,45508,46027,46227,46535,47219,47751,47839,47875,47890
4,Angola,0,0,0,8,30,86,291,1164,2729,...,101320,102301,102636,103131,103131,104676,105095,105184,105277,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,0,0,0,134,353,449,2758,12160,23281,...,659853,682096,702332,702768,703036,703036,703228,703228,703228,703228
197,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
198,Yemen,0,0,0,0,7,354,1190,1730,1962,...,11824,11877,11926,11935,11939,11945,11945,11945,11945,11945
199,Zambia,0,0,0,36,109,1089,1632,6228,12381,...,325857,329483,332822,333549,333681,333746,334629,340944,343012,343135
200,Zimbabwe,0,0,0,8,40,203,605,3659,6559,...,255586,256382,256738,257465,257893,259164,259981,262324,264127,264276

In [19]:
#melting df to be vertically stacked

df_confirmed_melted = pd.melt(df_confirmed_cleaned, id_vars=['Country/Region'], var_name='Date', value_name='Confirmed Cases')

df_confirmed_melted = df_confirmed_melted.rename(columns={'Country/Region': 'Country'})
df_confirmed_melted

                   Country       Date  Confirmed Cases
0              Afghanistan  22-Jan-20                0
1                  Albania  22-Jan-20                0
2                  Algeria  22-Jan-20                0
3                  Andorra  22-Jan-20                0
4                   Angola  22-Jan-20                0
...                    ...        ...              ...
8035    West Bank and Gaza   9-Mar-23           703228
8036  Winter Olympics 2022   9-Mar-23              535
8037                 Yemen   9-Mar-23            11945
8038                Zambia   9-Mar-23           343135
8039              Zimbabwe   9-Mar-23           264276

[8040 rows x 3 columns]

In [20]:
#saved to file
excel_file_path = 'df_confirmed_melted.xlsx'
df_confirmed_melted.to_excel(excel_file_path, index=False)

In [11]:
# SAME PROCESS AS ABOVE (new file)
df_deaths_cleaned

,Country/Region,22-Jan-20,1-Feb-20,1-Mar-20,1-Apr-20,1-May-20,1-Jun-20,1-Jul-20,1-Aug-20,1-Sep-20,...,1-Jun-22,1-Jul-22,1-Aug-22,1-Sep-22,1-Oct-22,1-Nov-22,1-Dec-22,1-Jan-23,1-Feb-23,9-Mar-23
0,Afghanistan,0,0,0,4,64,269,778,1287,1410,...,7707,7723,7751,7778,7800,7823,7834,7849,7882,7896
1,Albania,0,0,0,15,31,33,65,161,290,...,3497,3501,3548,3583,3589,3593,3594,3595,3596,3598
2,Algeria,0,0,0,58,453,661,920,1223,1518,...,6875,6875,6876,6878,6879,6881,6881,6881,6881,6881
3,Andorra,0,0,0,14,43,51,52,52,53,...,153,153,153,154,155,155,157,165,165,165
4,Angola,0,0,0,2,2,4,15,54,109,...,1900,1900,1912,1917,1917,1917,1924,1930,1931,1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,0,0,0,1,2,3,8,83,159,...,5660,5660,5678,5704,5707,5708,5708,5708,5708,5708
197,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,Yemen,0,0,0,0,2,84,318,494,570,...,2149,2149,2151,2155,2157,2158,2159,2159,2159,2159
199,Zambia,0,0,0,0,3,7,30,165,290,...,3987,4006,4015,4016,4017,4017,4019,4024,4048,4057
200,Zimbabwe,0,0,0,1,4,4,7,69,203,...,5507,5555,5577,5596,5602,5606,5620,5637,5658,5671

In [22]:
df_deaths_melted = pd.melt(df_deaths_cleaned, id_vars=['Country/Region'], var_name='Date', value_name='Deaths')

df_deaths_melted = df_deaths_melted.rename(columns={'Country/Region': 'Country'})
df_deaths_melted

                   Country       Date  Deaths
0              Afghanistan  22-Jan-20       0
1                  Albania  22-Jan-20       0
2                  Algeria  22-Jan-20       0
3                  Andorra  22-Jan-20       0
4                   Angola  22-Jan-20       0
...                    ...        ...     ...
7834    West Bank and Gaza   9-Mar-23    5708
7835  Winter Olympics 2022   9-Mar-23       0
7836                 Yemen   9-Mar-23    2159
7837                Zambia   9-Mar-23    4057
7838              Zimbabwe   9-Mar-23    5671

[7839 rows x 3 columns]

In [23]:
excel_file_path = 'df_deaths_melted.xlsx'
df_deaths_melted.to_excel(excel_file_path, index=False)

# V3 CLEANING

In [35]:
# figured out Tableau animations, can use larger data set
#trying a daily animation

import pandas as pd

df_daily_confirmed = pd.read_csv('time_series_covid19_confirmed_global.csv')
df_daily_confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,2003-01-23,2003-02-23,2003-03-23,2003-04-23,2003-05-23,2003-06-23,2003-07-23,2003-08-23,2003-09-23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [37]:
# recleaning original data

df_daily_confirmed = df_daily_confirmed.groupby('Country/Region').sum().reset_index()
df_daily_confirmed_cleaned = df_daily_confirmed.drop(columns=['Province/State', 'Lat', 'Long'])
df_daily_confirmed_cleaned

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,2/28/23,2003-01-23,2003-02-23,2003-03-23,2003-04-23,2003-05-23,2003-06-23,2003-07-23,2003-08-23,2003-09-23
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,Albania,0,0,0,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,Algeria,0,0,0,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,Andorra,0,0,0,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,Angola,0,0,0,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
197,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
198,Yemen,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
199,Zambia,0,0,0,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
200,Zimbabwe,0,0,0,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [41]:
#save into excel file

excel_file_path = 'df_daily_confirmed_cleaned.xlsx'
df_daily_confirmed_cleaned.to_excel(excel_file_path, index=False)

move back into excel to take care of datetime cleaning.

In [43]:
#cleaned in excel move back to csv and into python to melt

df_daily_confirmed_cleaned2 = pd.read_csv('df_daily_confirmed_cleaned2.csv')
df_daily_confirmed_cleaned2

,Country,22-Jan-20,23-Jan-20,24-Jan-20,25-Jan-20,26-Jan-20,27-Jan-20,28-Jan-20,29-Jan-20,30-Jan-20,...,28-Feb-23,1-Mar-23,2-Mar-23,3-Mar-23,4-Mar-23,5-Mar-23,6-Mar-23,7-Mar-23,8-Mar-23,9-Mar-23
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,Albania,0,0,0,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,Algeria,0,0,0,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,Andorra,0,0,0,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,Angola,0,0,0,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
197,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
198,Yemen,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
199,Zambia,0,0,0,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
200,Zimbabwe,0,0,0,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [48]:
#melting file to be vertically stacked

df_daily_confirmed_cleaned2_melted = pd.melt(df_daily_confirmed_cleaned2, id_vars=['Country'], var_name='Date', value_name='Confirmed Cases')

df_daily_confirmed_cleaned2_melted

                     Country       Date  Confirmed Cases
0                Afghanistan  22-Jan-20                0
1                    Albania  22-Jan-20                0
2                    Algeria  22-Jan-20                0
3                    Andorra  22-Jan-20                0
4                     Angola  22-Jan-20                0
...                      ...        ...              ...
229738    West Bank and Gaza   9-Mar-23           703228
229739  Winter Olympics 2022   9-Mar-23              535
229740                 Yemen   9-Mar-23            11945
229741                Zambia   9-Mar-23           343135
229742              Zimbabwe   9-Mar-23           264276

[229743 rows x 3 columns]

In [49]:
# save back to excel for Tableau animation

excel_file_path = 'df_daily_confirmed_cleaned2_melted.xlsx'
df_daily_confirmed_cleaned2_melted.to_excel(excel_file_path, index=False)